/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Papyrus ###
bin/
target/
*.java._trace
*.pyc
.DS_Store
*.xtendbin
*~
# Workspace metadata folder created by Oomph when launching tests.
tests/**/.metadata/
**/src/site/resources/images/rcptt-screenshots